<div class="main-header-area" id="stickyHeader">
    <div class="container h-100">
        <div class="row h-100 align-items-center">
            <div class="col-12 h-100">
                <div class="main-menu h-100">
                    <nav class="navbar h-100 navbar-expand-lg">
                        <!-- Logo Area  -->
                        <a class="navbar-brand" href="{{ path('index') }}"><img src="{{ asset('assets/img/core-img/logo.png') }}" alt="Logo"></a>

                        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#medilifeMenu" aria-controls="medilifeMenu" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>

                        <div class="collapse navbar-collapse" id="medilifeMenu">
                            <!-- Menu Area -->
                            <ul class="navbar-nav ml-auto">
                                <li class="nav-item active">
                                    <a class="nav-link" href="{{ path('index') }}">Inicio <span class="sr-only">(current)</span></a>
                                </li>
                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Empresa </a>
                                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                        <a class="dropdown-item" href="{{ path('about') }}">Quienes somos </a>
                                        <a class="dropdown-item" href="{{ path('mission') }}">Misión </a>
                                        <a class="dropdown-item" href="{{ path('view') }}">Visión </a>
                                    </div>
                                </li>
                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Política </a>
                                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                        <a class="dropdown-item" href="{{ path('corporate') }}">Valores corporativos </a>
                                        <a class="dropdown-item" href="{{ path('resource') }}">Recurso humano </a>
                                        <a class="dropdown-item" href="{{ path('quality') }}">Política de calidad </a>
                                        <a class="dropdown-item" href="{{ path('confidentiality') }}">Política de confidencialidad </a>
                                    </div>
                                </li>
                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Portafolio </a>
                                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                        <a class="dropdown-item" href="{{ path('polygraphy') }}">Poligrafía </a>
                                        <a class="dropdown-item" href="{{ path('management') }}">Gestión </a>
                                        <a class="dropdown-item" href="{{ path('personal') }}">Estudios y pre selección de personal </a>
                                        <a class="dropdown-item" href="{{ path('information') }}">Administración estratégica de la información </a>
                                        <a class="dropdown-item" href="{{ path('security') }}">Estrategias de seguridad y administración del riesgo </a>
                                    </div>
                                </li>
                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Contáctenos </a>
                                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                        <a class="dropdown-item" href="{{ path('messenger') }}">Escribanos </a>
                                        <a class="dropdown-item" href="{{ path('maps') }}">Ubíquenos </a>
                                        <a class="dropdown-item" href="{{ path('social') }}">Redes sociales </a>
                                    </div>
                                </li>

                            </ul>
                            <!-- Appointment Button -->
                            <a href="https://api.whatsapp.com/send?phone=numero&text=mensaje" class="btn ml-30" target="_blank"><span>Whatsapp </span><img src="{{ asset('assets/img/manrique/iconfinder_-09_30576921.png') }}"></a>

                        </div>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</div>