<!-- Start Header Area -->
<div id="undefined-sticky-wrapper" class="sticky-wrapper" style="height: 68px;"><header class="default-header">
        <div class="container">
            <div class="logo">
            <a href="{{ path('index') }}"><img id="logo-header" src="{{ asset('assets/img/manrique/logo2-blue.png') }}" alt="Logo"></a>
        </div>
    </header>
</div>
<!-- End Header Area -->

<div class="header">
    <div class="container">
        <!-- Menu -->
        <div class="navbar">
            <div class="navbar-inner">
                <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </a><!-- /nav-collapse -->
                <div class="nav-collapse collapse">
                    <ul class="nav">
                        <li class="active">
                            <a href="{{ path('index') }}">Inicio
                            </a>
                        </li>
                        <li>
                            <a href="" class="dropdown-toggle" data-toggle="dropdown">Empresa
                                <b class="caret"></b>
                            </a>
                            <ul class="dropdown-menu">
                                <li><a href="javascript:;">Quienes somos</a></li>
                                <li><a href="javascript:;">Misión</a></li>
                                <li><a href="javascript:;">Visión</a></li>
                            </ul>
                            <b class="caret-out"></b>
                        </li>
                        <li>
                            <a href="" class="dropdown-toggle" data-toggle="dropdown">Política
                                <b class="caret"></b>
                            </a>
                            <ul class="dropdown-menu">
                                <li><a href="{{ path('politics_corporate') }}">Valores corporativos</a></li>
                                <li><a href="{{ path('politics_resource') }}">Recurso humano</a></li>
                                <li><a href="{{ path('politics_quality') }}">Política de calidad</a></li>
                                <li><a href="{{ path('politics_confidentiality') }}">Política de confidencialidad</a></li>
                            </ul>
                            <b class="caret-out"></b>
                        </li>
                        <li>
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Portfolio
                                <b class="caret"></b>
                            </a>
                            <ul class="dropdown-menu">
                                <li><a href="{{ path('briefcase_polygraphy') }}">Poligrafía</a></li>
                                <li><a href="{{ path('briefcase_management') }}">Gestión</a></li>
                                <li><a href="{{ path('briefcase_personal') }}">Estudios y pre selección de personal </a></li>
                                <li><a href="{{ path('briefcase_information') }}">Administración estratégica de la información</a></li>
                                <li><a href="{{ path('briefcase_security') }}">Estrategias de seguridad y administración del riesgo</a></li>
                            </ul>
                            <b class="caret-out"></b>
                        </li>
                        <li>
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Social
                                <b class="caret"></b>
                            </a>
                            <ul class="dropdown-menu">
                                <li><a href="blog.html">Facebook</a></li>
                                <li><a href="blog_item.html">Twitter</a></li>
                                <li><a href="blog_left_sidebar.html">Instagram</a></li>
                            </ul>
                            <b class="caret-out"></b>
                        </li>
                        <li>
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Contáctenos
                                <b class="caret"></b>
                            </a>
                            <ul class="dropdown-menu">
                                <li><a href="{{ path('contact_messenger') }}">Escribanos</a></li>
                                <li><a href="{{ path('contact_maps') }}">Ubíquenos</a></li>
                            </ul>
                            <b class="caret-out"></b>
                        </li>
                        {#<li><a class="search search-nav"><i class="icon-search search-btn"></i></a></li>#}
                    </ul>
                    {#
                    <div class="search-open search-open-inner">
                        <div class="input-append">
                            <form>
                                <input type="text" class="span3" placeholder="Search" />
                                <button type="submit" class="btn-u">Search</button>
                            </form>
                        </div>
                    </div>
                    #}
                </div><!-- /nav-collapse -->
            </div><!-- /navbar-inner -->
        </div><!-- /navbar -->
    </div><!-- /container -->
</div><!--/header -->