{% extends 'base.html.twig' %}

{% block body %}

    <!-- ***** Breadcumb Area Start ***** -->
    <section class="breadcumb-area bg-img gradient-background-overlay" style="background-image: url('{{ asset('assets/img/manrique/pol11.jpg') }}');">
        <div class="container h-100">
            <div class="row h-100 align-items-center">
                <div class="col-12">
                    <div class="breadcumb-content-overlay">
                        <h3 class="breadcumb-title">Poligrafía </h3>
                        <ul class="pull-right breadcrumb">
                            <li class="active">Portafolio <span class="divider">/</span></li>
                            <li><a href="{{ path('polygraphy') }}">Poligrafía </a></li>
                        </ul>

                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ***** Breadcumb Area End ***** -->
    <!-- ***** Features Area Start ***** -->
    <div class="medilife-features-area section-padding-100">

        {{ include('web/briefcase/polygraphy/container1.html.twig') }}
        <br/>
        {{ include('web/briefcase/polygraphy/container2.html.twig') }}
        <br/>
        {{ include('web/briefcase/polygraphy/container3.html.twig') }}



    </div>




    <!-- ***** Features Area End ***** -->

{% endblock %}

{% block javascripts  %}
    {{ parent() }}

{% endblock %}
