<!DOCTYPE html>
<html lang="es" class="ie7">
<html lang="es" class="ie8">
<html lang="es" class="ie9">
<html lang="es">
<head>
    <title>{% block title %} GPS | Poligrafía {% endblock %}</title>
    <!-- Meta -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Poligrafía">
    <meta name="author" content="desarrollo@mipcsoft.com">
    {% block stylesheets %}
    <!-- CSS Global Compulsory-->
    <link rel="stylesheet" href="{{ asset('assets/plugins/bootstrap/css/bootstrap.min.css')}}">
    <link rel="stylesheet" href="{{ asset('assets/css/style.css')}}">
    <link rel="stylesheet" href="{{ asset('assets/css/headers/header2.css')}}">
    <link rel="stylesheet" href="{{ asset('assets/plugins/bootstrap/css/bootstrap-responsive.min.css')}}">
    <link rel="stylesheet" href="{{ asset('favicon.ico')}}">
    <!-- CSS Implementing Plugins -->
    <link rel="stylesheet" href="{{ asset('assets/plugins/font-awesome/css/font-awesome.css')}}">
    <link rel="stylesheet" href="{{ asset('assets/plugins/flexslider/flexslider.css')}}" type="text/css" media="screen">
    <link rel="stylesheet" href="{{ asset('assets/plugins/parallax-slider/css/parallax-slider.css')}}" type="text/css">
    <link rel="stylesheet" href="{{ asset('assets/plugins/bxslider/jquery.bxslider.css')}}">
    <!-- CSS Theme -->
    <link rel="stylesheet" href="{{ asset('assets/css/themes/blue.css')}}" id="style_color">
    <link rel="stylesheet" href="{{ asset('assets/css/themes/headers/header2-blue.css')}}" id="style_color-header-2">
    {% endblock %}
</head>
<body>

<!--=== Style Switcher ===-->
{#{{ include('unify/switcher.html.twig') }}#}
<!--=== End Style Switcher ===-->
<!--=== Top ===-->
{{ include('unify/top.html.twig') }}
<!--=== End Top ===-->
<!--=== Header ===-->
{{ include('unify/header.html.twig') }}
<!--=== End Header ===-->

{% block body %}{% endblock %}

<!--=== Copyright ===-->
{{ include('unify/copyright.html.twig') }}
<!--=== End Copyright ===-->

{% block javascripts  %}
    <!-- JS Global Compulsory -->
    <script type="text/javascript" src="{{ asset('assets/js/jquery-1.8.2.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('assets/js/modernizr.custom.js') }}"></script>
    <script type="text/javascript" src="{{ asset('assets/plugins/bootstrap/js/bootstrap.min.js') }}"></script>
    <!-- JS Implementing Plugins -->
    <script type="text/javascript" src="{{ asset('assets/plugins/flexslider/jquery.flexslider-min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('assets/plugins/parallax-slider/js/modernizr.js') }}"></script>
    <script type="text/javascript" src="{{ asset('assets/plugins/parallax-slider/js/jquery.cslider.js') }}"></script>
    <script type="text/javascript" src="{{ asset('assets/plugins/bxslider/jquery.bxslider.js') }}"></script>
    <script type="text/javascript" src="{{ asset('assets/plugins/back-to-top.js') }}"></script>
    <!-- JS Page Level -->
    <script type="text/javascript" src="{{ asset('assets/js/app.js') }}"></script>
    <script type="text/javascript" src="{{ asset('assets/js/pages/index.js') }}"></script>
    <script type="text/javascript">
        jQuery(document).ready(function() {
            App.init();
            App.initSliders();
            App.initBxSlider1();
            Index.initParallaxSlider();
        });
    </script>
    <!--[if lt IE 9]>
    <script src="{{ asset('assets/js/respond.js') }}"></script>
    <![endif]-->
{% endblock %}

</body>
</html>