<!DOCTYPE html>
<html lang="es">
<head>

<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="Poligrafía">
<meta name="author" content="desarrollo@mipcsoft.com">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

<title>{% block title %} GPS | Poligrafía {% endblock %}</title>

{% block stylesheets %}
<link rel="shortcut icon" href="{{ asset('assets/img/manrique/LOGOP.png')}}">
<link rel="stylesheet" href="{{ asset('assets/style.css')}}">
{% endblock %}

</head>
<body>
<!-- Preloader -->
{{ include('base/preloader.html.twig') }}

<!-- ***** Header Area Start ***** -->
<header class="header-area">
    <!-- Top Header Area -->
    {{ include('base/topheader.html.twig') }}
    <!-- Main Header Area -->
    {{ include('base/mainheader.html.twig') }}
</header>
<!-- ***** Header Area End ***** -->

{% block body %}
{% endblock %}

<!-- ***** Footer Area Start ***** -->
{{ include('base/footer.html.twig') }}
<!-- ***** Footer Area End ***** -->

{% block javascripts  %}
<!-- jQuery (Necessary for All JavaScript Plugins) -->
<script src="{{ asset('assets/js/jquery/jquery-2.2.4.min.js') }}"></script>
<script src="{{ asset('assets/js/popper.min.js') }}"></script>
<script src="{{ asset('assets/js/bootstrap.min.js') }}"></script>
<script src="{{ asset('assets/js/plugins.js') }}"></script>
<script src="{{ asset('assets/js/active.js') }}"></script>
{% endblock %}

</body>
</html>